<!-- Navigation -->
<nav
  class="navbar"
  style="background: linear-gradient(135deg, #4f46e5, #7c3aed)"
>
  <div class="container">
    <div class="navbar-content">
      <a href="#" class="navbar-brand">
        <span>Memoire Manager</span>
      </a>
      <button class="menu-toggle">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="navbar-nav">
        <li>
          <a [routerLink]="'/teacher/professor-dashboard'">Tableau de bord</a>
        </li>
        <li><a [routerLink]="'/teacher/tutor-list'">Professeurs Tuteurs</a></li>
        <li>
          <a [routerLink]="'/teacher/themeList'" class="nav-item">
            Thèmes Validés
          </a>
        </li>
        <li><button (click)="deconnexion()">Déconnexion</button></li>
      </ul>
    </div>
  </div>
</nav>
