<aside class="sidebar">
  <div class="sidebar-header">
    <div class="professor-info">
      <div class="professor-avatar">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="professor-details">
        <h4>professorName</h4>
        <span class="professor-role">Professeur</span>
      </div>
    </div>
  </div>

  <ul class="sidebar-nav">
    <li>
      <a
        [routerLink]="'/teacher/professor-dashboard'"
        routerLinkActive="active"
        class="active"
        class="nav-item"
      >
        <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
        <span class="text">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="'/teacher/themeList'"
        routerLinkActive="active"
        class="nav-item"
      >
        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
        <span class="text">Thèmes Validés</span>
      </a>
    </li>
    <li>
      <a
        [routerLink]="'/teacher/tutor-list'"
        routerLinkActive="active"
        class="nav-item"
      >
        <span class="icon"><i class="fas fa-clipboard-list"></i></span>
        <span class="text">Professeurs Tuteurs</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/home'">
        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
        <span class="text">Déconnexion</span>
      </a>
    </li>
  </ul>
</aside>
